*.ide-wal
*.ide-shm
*.ide
*.lock
Giphy/obj/project.assets.json
Giphy/obj/Giphy.csproj.nuget.g.targets
Giphy/obj/Giphy.csproj.nuget.g.props
Giphy/obj/Giphy.Api.csproj.nuget.g.props
Giphy/obj/Giphy.API.csproj.nuget.g.targets
Giphy/obj/Debug/netcoreapp2.0/Giphy.csproj.FileListAbsolute.txt
Giphy/obj/Debug/netcoreapp2.0/Giphy.AssemblyInfo.cs
Giphy/obj/Debug/netcoreapp2.0/Giphy.Api.csproj.FileListAbsolute.txt
Giphy/obj/Debug/netcoreapp2.0/Giphy.Api.csproj.CopyComplete
Giphy/obj/Debug/netcoreapp2.0/Giphy.API.AssemblyInfo.cs
Giphy/bin/
Giphy.Libs/obj/Debug/netcoreapp2.0/Giphy.Libs.csproj.FileListAbsolute.txt
Giphy.Libs/obj/Debug/netcoreapp2.0/Giphy.Libs.AssemblyInfo.cs
Giphy.Libs/obj/Giphy.Libs.csproj.nuget.g.props
Giphy.Libs/obj/Giphy.Libs.csproj.nuget.g.targets
Giphy.Libs/bin
